 <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.date_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>